# Гарантировать LF в репозитории для всех текстовых файлов
* text=auto eol=lf

# Конкретно для JSON/YAML/Python
*.json   text eol=lf
*.yml    text eol=lf
*.yaml   text eol=lf
*.py     text eol=lf
*.md     text eol=lf
