# Принудительный LF в репозитории для всех текстовых
* text=auto eol=lf

# Исключение: workflow-файлы CRLF
.github/workflows/*.yml text eol=crlf

# Конкретные форматы
*.json   text eol=lf
*.py     text eol=lf
*.md     text eol=lf
